#Consumer configuration

bootstrap.servers=localhost:9092
group.id=test-consumer-group
#consumer.timeout.ms={{consumer_timeout_ms}}
#zookeeper.connect={% for host in groups[zookeeper_group] %}{{host}}:2171{% if not loop.last %},{% endif %}{% endfor %}

#zookeeper.connection.timeout.ms={{consumer_zookeeper_connection_timeout_ms}}
#heartbeat.interval.ms={{consumer_heartbeat_interval_ms}}
