#Producer configuration
bootstrap.servers=localhost:9095
compression.type={{producer_compression_type}}
connections.max.idle.ms={{producer_connections_max_idle_ms}}
request.timeout.ms={{producer_request_timeout_ms}}
max.block.ms={{producer_max_block_ms}}
linger.ms={{producer_linger_ms}}
max.request.size={{producer_max_request_size}}
batch.size={{producer_batch_size}}
buffer.memory={{producer_buffer_memory}}
