advertised.host.name={{ ansible_default_ipv4.address }}
advertised.listeners=PLAINTEXT://{{ ansible_default_ipv4.address }}:9092
auto.create.topics.enable={{kafka_auto_create_topics}}
broker.id.generation.enable={{broker_id_generation_enable}}
#broker.id={{ ansible_default_ipv4.address.split('.')[2] }}{{ ansible_default_ipv4.address.split('.')[3] }}
confluent.support.metrics.enable={{confluent_kafka_support_metrics_enable}}
delete.topic.enable={{kafka_delete_topic_enable}}
group.initial.rebalance.delay.ms={{group_initial_rebalance_delay_ms}}
host.name={{ ansible_default_ipv4.address }}
listeners=PLAINTEXT://{{ ansible_default_ipv4.address }}:9092
log.cleaner.enable={{kafka_log_cleaner_enable}}
log.dirs={{kafka_data_dir}}
log.flush.interval.ms={{kafka_log_flush_interval_ms}}
log.flush.interval.messages={{kafka_log_flush_interval_messages}}
log.retention.bytes={{kafka_log_retention_bytes}}
log.retention.check.interval.ms={{kafka_log_retention_check_interval_ms}}
log.retention.hours={{kafka_log_retention_hours}}
log.segment.bytes={{kafka_log_segment_bytes}}
num.io.threads={{kafka_num_io_threads}}
num.network.threads={{kafka_num_network_threads}}
num.partitions={{kafka_num_partitions}}
num.recovery.threads.per.data.dir={{num_recovery_threads_per_data_dir}}
offsets.topic.replication.factor={{offsets_topic_replication_factor}}
queued.max.requests={{kafka_queued_max_requests}}
reserved.broker.max.id={{kafka_reserved_broker_max_id}}
socket.receive.buffer.bytes={{kafka_socket_receive_buffer_bytes}}
socket.request.max.bytes={{kafka_socket_request_max_bytes}}
socket.send.buffer.bytes={{kafka_socket_send_buffer_bytes}}
transaction.state.log.min.isr=1
transaction.state.log.replication.factor=1
zookeeper.connection.timeout.ms={{kafka_zookeeper_connection_timeout_ms}}
zookeeper.connect={% for host in groups['zookeeper'] %}{{host}}:{{zookeeper_clientPort}}{% if not loop.last %},{% endif %}{% endfor %}
