autopurge.purgeInterval=24
autopurge.snapRetainCount=3
# the port at which the clients will connect
clientPort={{ zookeeper_clientPort }}
dataDir={{ zookeeper_data_dir }}
# disable the per-ip limit on the number of connections since this is a non-production config
#maxClientCnxns={{ max_client_connection }}
initLimit={{ init_limit }}
{% for host in groups.zookeeper %}
server.{{ hostvars[host].zookeeper_id }}={{ hostvars[host].ipv4_address|default(hostvars[host]['ansible_default_ipv4']['address']) }}:2888:3888
{% endfor %}
syncLimit={{ sync_limit }}
tickTime={{ tick_time }}
